/target/test-classes/
/target/classes/
.DS_Store
.classpath
.project
.idea/
clearnlp-coref.iml
/.settings/
/src/test/resources/edu/emory/clir/clearnlp/visualization/
/src/main/resources/edu/emory/clir/clearnlp/dictionary/wordnet/WordNet-3.0/ 
/target/
